/* ================================
    LAYOUT - TABLE OF CONTENT MENU
===================================*/

.ui-dialog {
	padding: 0;
	border: 1px solid var(--clr-border);
	border-radius: 5px;
	box-shadow: var(--shadow-2);
	font-family: var(--ff-body);
}

#menuItems {
	background: var(--gray-1);
}

#menuItems .menuItem {
	font-size: .85rem;
	background: var(--gray-1);
	color: var(--clr-body);
	border: none;
}

#menuItems .sectionHeader {
	opacity: 0.7;
	color: var(--clr-header-bg);
}

#menuItems .sectionHeader::after {
	content: " - ";
}

.ui-dialog .ui-widget-header {
	color: var(--white);
	background: var(--clr-header-bg);
	font-size: 16px;
	letter-spacing: 0.03em;
	border-radius: 0;
	border: none;
	padding: 8px;
}

.ui-widget-header .ui-state-default {
	color: var(--white);
}

.ui-widget-header .ui-state-hover {
	color: var(--gray-2)
}

#menuItems .menuItem.current {
	border: none !important;
	background: var(--gray-4);
	border-radius: 0;
}

.ui-dialog .ui-dialog-titlebar-close {
	border: none;
	background: transparent;
	right: 0;
}

#menuItems .ui-state-hover {
	background: var(--gray-4) !important;
	border-radius: 0;
}



// Close button color
.ui-button-icon-primary.ui-icon.fa.fa-x-close {
    color: white;
}
// Complete