/* ==========================================================================
  # BASE / # FOOTER
========================================================================== */

/* Footer background colour */
#x_footerBlock {
    background: var(--clr-footer-bg);
}

/* remove page number background */
#x_pageNo {
    background: transparent;
    padding-top: 8px;
    box-sizing: initial; //fix wrapping issue
}

/*hide resize button*/
#x_cssBtn {
    display: none !important;
}

/* progress bar background and text */
#x_footerProgress {
    .pbBar {
        background-color: var(--clr-header-bg);
    }
    .pbTxt {
        color: var(--white);
    }
}




