/* ==========================================================================
  # PAGES / # Table Page
========================================================================== */

table.full td, table.simple, table.horizontal tr, table.vertical td, table.header.simple tr:first-child, table.footer.simple tr:last-child, table.headerCol.simple td:first-child  {
	border-color: var(--clr-headershade);
}

table.header.shaded tr:first-child , table.footer.shaded tr:last-child, table.headerCol.shaded td.header {
	background:	var(--clr-headershade);
	color: var(--white);
}

table.header tr:first-child, table.footer tr:last-child {
	color: var(--clr-heading);
}

table.header.shaded.full tr:first-child td:not(:last-child), table.header.shaded.vertical tr:first-child td:not(:last-child), table.footer.shaded.full tr:last-child td:not(:last-child), table.header.footer.vertical tr:last-child td:not(:last-child) {
	border-right-color: var(--white);
}

table.headerCol.shaded.full tr:not(:last-child) td:first-child, table.headerCol.shaded.horizontal tr:not(:last-child) td:first-child {
	border-bottom: 1px solid var(--white);
}

table tr.shaded, table.glossary tr.shaded {
	background: var(--clr-shaded);
}

table.glossary tr td:first-child {
	border-color: var(--clr-shaded);
}

.x_table_page #tableName {
	color: var(--clr-heading);
}

.x_table_page #footnote {
	border-color: var(--clr-border);
}