
/* ----------------- 
Background Utilities
----------------- */

// CU colours
.bg-red {
    background-color: var(--cu-red);
}

.bg-blue {
    background-color: var(--cu-blue);
}

.bg-dark-blue {
    background-color: var(--cu-dark-blue);
}

.bg-sky {
    background-color: var(--cu-sky);
}

.bg-gold {
    background-color: var(--cu-gold);
}

.bg-gold-light {
    background-color: var(--cu-gold-light);
}

.bg-navy-1 {
    background-color: var(--navy-1);
}

.bg-navy-2 {
    background-color: var(--navy-2);
}

.bg-navy-3 {
    background-color: var(--navy-3);
}

.bg-light {
    background-color: var(--light);
}

.bg-black {
    background-color: var(--cu-black);
}

.bg-white {
    background-color: var(--cu-white);
}


// Theme colours

.bg-accent {
    background-color: var(--clr-accent);
}

// .bg-compliment {
//     background-color: var(--clr-compliment);
// }

.bg-success {
    background-color: var(--clr-success);
}

.bg-danger {
    background-color: var(--clr-danger);
}

