/* ======================
    NO TOC Page Template - Article
=======================*/

/* A single page template with no table of content with container maximum width of 724px to improve readability*/

// change the main background color
body {
    --clr-main-bg: white;
}

/* Remove the table of content */
#contentTable {
    display: none;
}

// remove left margin for full width
.row-fluid .span9 {
    margin-left: 0;
}

// remove extra spacing from main navbar
.navbar-fixed-top {
    margin-bottom: 0;
}

// Container width for large screens (>=1200px)
@media (min-width: 1200px) {
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
      width: 900px;
  }
  
  }

/* Add full width background to the section container */
section {
    position: relative;
    box-shadow: none;
    border-radius: 0;
    background: none;
    margin: 0;
    padding-block: var(--size-fluid-4);
    overflow: revert; // fix for the overflow issue after upgrading to Xerte 3.13
}

section::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    left: calc(-50vw + 50%);
    z-index: -1;
    top: 0;
}

  /* custom background colour for sections  */
/*  section:nth-child(odd)::before {
        background-color: var(--light);
    }
    section:nth-child(even)::before {
        background-color: var(--cu-white);
    } */



/* Section headings */
/* .page-header {
    border: none;
}

.page-header h1{
    color: var(--cu-black);
    font-weight: var(--font-weight-7);
    margin-top: 0;
}

.page-header::after {
    content: '';
    width: 25px;
    display: block;
    border-bottom: 5px solid var(--cu-red);

} */

.page-header h1 {
    font-size: var(--fs-3xl);
    font-weight: var(--font-weight-3);
    margin-top: var(--size-6);
    margin-bottom: var(--size-2);
    color: var(--clr-accent);
}


/*remove scroll to the top button*/
.btn-mini {
    display: none;
}

/* Footer */

.footer {
    margin-top: 0;
}
